# Exploratory Data Analysis

In this notebook we will be exploring the NBA dataset to understand what tables and data are available for querying. There are many tables with lots of rows so we will be focusing on a few to keep this notebook manageable.

In [ ]:
%run ../utilities/database_utils.py
import inspect

In [ ]:
print(inspect.getsource(execute_sql))

In [ ]:
import pandas as pd

### Step 1

For each table:
- Data Types
- Data Sizes

In [ ]:
execute_sql('SHOW TABLES FROM SCHEMA "aim330"."public"')

In [ ]:
execute_sql("""select col_name, col_type  from pg_get_cols('"aim330"."public"."game"') cols(view_schema name, view_name name, col_name name, col_type varchar, col_num int);""")

In [ ]:
execute_sql("""select col_name, col_type  from pg_get_cols('"aim330"."public"."common_player_info"') cols(view_schema name, view_name name, col_name name, col_type varchar, col_num int);""")

In [ ]:
execute_sql("""select col_name, col_type  from pg_get_cols('"aim330"."public"."game_summary"') cols(view_schema name, view_name name, col_name name, col_type varchar, col_num int);""")

In [ ]:
success, table_data = execute_sql('SHOW TABLES FROM SCHEMA "aim330"."public"', show_progress=False)

results = []
for table in table_data.table_name:
    results.append(execute_sql(f"""select count(*) from {table};""", show_progress=False)[1])
    
df = pd.concat(results)
df['table_name'] = list(table_data.table_name)
df

### Step 2

- How many seasons
- How many teams
- How many players
- different stats columns

In [ ]:
execute_sql("""select count(distinct season) from game_summary;""", show_progress=False)[1]

In [ ]:
execute_sql("""select count(distinct id) from team;""", show_progress=False)[1]

In [ ]:
execute_sql("""select count(distinct id) from player;""", show_progress=False)[1]

### Step 3

- Data Summarization (df.describe())
- Missing Data 
- Visualizations

In [ ]:
game_csv = execute_sql("""select * from game;""", show_progress=False)[1]
game_csv.describe()